# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
[client]
socket=/var/run/mysqld/mysql.sock

[mysqld]
socket=/var/run/mysqld/mysql.sock
datadir=/var/lib/mysql

secure-file-priv=/var/lib/mysql-files
user=mysql

pid-file=/var/run/mysqld/mysqld.pid
